@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------------------------color-*/

.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #e77e22;
}

.ui-menu-color-resume {
    background-color: #9b596b;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}
/*----------------------------------------------------heading-*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/profile-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    /*max-width: 300px;*/
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}


.title {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 90px;
}
#nav {
    margin: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}